@(message: String)(implicit request: RequestHeader)

@main(message) {

    <div>
        <input id="message" type="text" autofocus><button id="send">Send</button>
    </div>

    <!-- The container in which the messages will be displayed-->
    <div id="messages"></div>
    
    <script type="text/javascript">
        function appendMessage(text) {
            var p = document.createElement("p");
            var message = document.createTextNode(text);
            p.appendChild(message);
            document.getElementById("messages").appendChild(p);
        }

        @*var url = "@routes.Application.messages().webSocketURL()";*@
        var socket = new WebSocket("@routes.Application.socket().webSocketURL()");
        socket.onmessage = function(event) {
            console.log(event);
            appendMessage(event.data)
        };

        $('#send').on('click', function(event){
            event.preventDefault()
            var msg = $('#message').val();
            console.log('Sending message: ' + msg)
            socket.send(msg)
        })
    </script>

}
